asttokens==2.4.1
bcrypt==4.1.3
blinker==1.8.2
bokeh==3.4.1
boto3==1.24.58
boto3-stubs==1.24.60.post1
botocore==1.27.58
botocore-stubs==1.27.60
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
DateTime==5.5
decorator==5.1.1
dnspython==2.6.1
email_validator==2.1.1
exceptiongroup==1.2.1
executing==2.0.1
extensions==0.4
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-WTF==1.2.1
fonttools==4.52.4
idna==3.7
ipython==8.25.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
plotly==5.22.0
prompt_toolkit==3.0.45
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
s3transfer==0.6.0
six==1.16.0
stack-data==0.6.3
tabulate==0.9.0
tenacity==8.4.1
tornado==6.4
traitlets==5.14.3
types-awscrt==0.14.0
types-s3transfer==0.6.0.post4
typing_extensions==4.12.1
tzdata==2024.1
urllib3==1.26.12
wcwidth==0.2.13
Werkzeug==3.0.3
WTForms==3.1.2
xyzservices==2024.4.0
zope.interface==6.4.post2
