## Measure
|||
|--|--|
|how many(plural)|kitle?|
|how much (singular)| kitlo/kitli|
|little|illeshe|
|much|must|
|one time/once|ek pouti|
|twice| don pouti|
|few(quantity)|tode|
|a lot(quantity)|mustu|
|heavy|zud|
|light|hagur|
|what time|kitli wora|how many hours|
|How much money does it cost?|Kitle poishe lagthat?|
|How much money do those cost?|kitle poishe thanka lagthat|
|It costs x dollars|Taka x dollars lagtat|
|It cost me 1 dollar| ek dollar taka laglo|
|kitle kilos?| how many kilos?|